*{
    font-family: "soleil",sans-serif;
    margin: 0;
    outline-style: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
body{
    background-color: whitesmoke;
}
/* LEFT SIDE MENU */

.menu{
    position: fixed;
    height: 100vh;
    top: 0;
    z-index: 5;
}
.menu-container{
    width: 200px;
    height: 100vh;
    background-color: lightgrey;
    position: fixed;
    z-index: 2;
    top: 0;
    transition: 0.5s;
}
.menu-wrap{
    margin-left: 40px;
    margin-top: 60px;
}
.menu-wrap h6{
    color: #002fa7;
    margin-bottom: 10px;
    margin-bottom: 25px;
    font-weight: normal;
}
.menu-wrap a{
    text-decoration: none;
    display: flex;
    color: #131313;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 17px;
}
.menu-wrap a:nth-child(7){
    margin-bottom: 40px;
}
.menu-wrap a:hover{
    color: rgb(60, 60, 60);
}
.menu-container button{
    border: none;
    margin: 6px;
    cursor: pointer;
    background-color: lightgrey;
}
.menu-close{
    display: none;
}


/* MAIN */
.main{
    margin-left: 230px;
    margin-right: 30px;
}
.main-container{
    margin-top: 40px;
}
.main-container h2{
    margin-bottom: 30px;
}
.boxes{
    display: flex;
    width: 100%;
}
.box1 , .box2 , .box3 , .box4{
    width: 25%;
    background-color: white;
    margin-right: 20px;
    border-radius: 5px;
    border-top: 3px solid blue;
    box-shadow: 0px 3px lightgray;
}
.boxes h2{
    margin: 30px 20px;
    color: #2e2f39;
}
.boxes p{
    color: #686972;
    margin: 20px;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 1025px) {
    .menu-close{
        display: block;
    }
    .menu-wrap{
        display: none;
    }
    .menu-container{
        width: fit-content;
    }
    .main{
        margin-left: 80px;
    }
}

.menujs{
    display: block;
}
.contjs{
    width: 200px;
}